
#form{
	height: 250px;
	width: 300px;
	background: white;
	box-shadow: 5px 5px 10px black;
}

#formL{
	display: block;
	text-align: center;
}

label{
	font-size: 20px;
	width: 300px;
}

